#myButton {
  display: inline-block;
  background-color: #1db4ac;
  border: 2px solid #1db4ac;
  color: #fff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 28px;
  padding: 0 12px 0;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.5;
}

#myButton:hover {
  background-color: #4ac3bd;
  border: 2px solid #4ac3bd;
}

#openTextDom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#openTextDom a {
  text-decoration: none;
  color: #1db4ac;
}
